<button (click)="shown = todos">Todos</button>
<button (click)="shown = archived">Archived</button>
<div *ngIf="shown === todos">
	<todo-list [data]="todos">
	<div class="listheader">
		<b>Todo items:</b>
	</div>
	<div class="listfooter">Zakończonych zadań: {{completedTodos}}.</div>
	</todo-list>
	<button *unless="completedTodos" (click)=archiveCompleted()>Archiwizuj</button>
	<todo-form (created)="add($event) "></todo-form>
</div>
<todo-list [data]="archived" *ngIf="shown === archived">
<div class="listheader">
	<b>Archived items:</b>
</div>
<div class="listfooter">All finished here.</div>
</todo-list>