<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <h1 class="nav-item">Angular2 App</h1>
            <a class="nav-item" routerLink="/todos" routerLinkActive="is-active">Todos</a>
            <a class="nav-item" routerLink="/music" routerLinkActive="is-active">Music</a>
            <a class="nav-item" routerLink="/bookmarks" routerLinkActive="is-active">Bookmarks</a>
        </div>
    </div>
    <div class="nav-center"></div>
    <div class="nav-right"></div>
</nav>
